html {
  font-family: "Noto Serif", serif;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
}

input, textarea, select {
  border: 2px solid #6e8c62;
}

#dig {
  border-color: #6e8c62;
}

.footer {
  background-color: #70ad55;
  color: #fff;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  text-align: center;
  border-color: #6e8c62;
}

hr {
  border: .5px solid #70ad55;
}

.one {
  display: block;
}

header p {
  max-width: 36em;
}

fieldset {
  border: none;
}

@media only screen and (min-width: 38em) {

  .callyou, .tshirt, .phone, .citi, .postal {
    padding-left: 1em;
  }

}
